<footer class="mt-auto" style="background-color: #1c4f8f;">
    <div class="row">
        <div class="col brandbox">
            <div class = "row">
                <div class="col mt-1" style="max-width: 120px;">
                    <%= image_tag "WC_Logo.png", size: "110x110", class: "rounded-circle text-center", style: "margin-left: 5px; margin-top: 5px;" %>
                </div>
                <div class="col d-none d-lg-block">
                    <p class="text-white" style="font-family:Candara; font-size:1.1em; font-variant: small-caps; font-weight: 300;">
                    <b>Notre Dame Writing Center Diversity Library</b><br>
                    203 Coleman-Morse<br>
                    Notre Dame, IN 46556 USA<br>
                    writing@nd.edu<br>                
                    </p>
                </div>
                <div class="col d-flex justify-content-center py-5 d-lg-none">
                    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                        <i class="fab fa-facebook-f"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                        <i class="fab fa-youtube"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                        <i class="fab fa-instagram"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                        <i class="fab fa-twitter"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="text-center text-white" style="font-family:Candara; font-size:0.875em; font-variant: small-caps; font-weight: 100;">
                    © <%= Time.now.year %> Copyright: Notre Dame Writing Center
                </div>
            </div>
        </div>
        <div class="col d-none d-lg-block" style="background: linear-gradient(90deg, rgba(28,79,143,1) 0%, rgba(12,35,64,1) 100%);">
            <div class="container d-flex justify-content-center py-5">
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                    <i class="fab fa-facebook-f"></i>
                </button>
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                    <i class="fab fa-youtube"></i>
                </button>
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                    <i class="fab fa-instagram"></i>
                </button>
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                    <i class="fab fa-twitter"></i>
                </button>
            </div>
        </div>
    </div>
</footer>

<!-- 
--brand-blue:#0c2340;
--brand-blue-dark:#081629;
--brand-blue-light:#143865;
--brand-blue-bright:#1c4f8f;
-->