<div class="row p-5">

  <div class="col-sm-6">
    <div class="card border-light">
      <div class="card-body">
        <h5 class="card-title">Add manually...</h5>
         <%= render "form", book: @book %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card border-light">
      <div class="card-body">
        <h5 class="card-title">Or by ISBN...</h5>
          <%= render "scan", book: @book %>
      </div>
    </div>
  </div>

</div>

<br/><br/>
<div>
  <% link_to "Back to books", books_path, class: 'btn btn-dark' %>
</div>
<%= @book.inspect %>
